.login-container {
 min-height: 50vh;
 margin: 5rem auto;
}

.login-input {
 padding: 0.6em 1.2em;
 background-color: #f3f3f3;
}
.login-input:focus {
 border: 2px solid #67c9e0;
 box-shadow: inset 0 1px 1px #67cae0e3, 0 0 8px #acf0ffe0;
}
.sign-in-btn {
 border: none;
 border-radius: 5px;
 padding: 0.5em 1em;
 background-color: #f7f7f7;
 transition: all 400ms;
}
.sign-in-btn:hover {
 background-color: #4082ed;
 color: white;
}

.sign-in-img {
 width: 20px;
 margin: 0 5px;
}
