.doctor-banner {
 background-image: url("../../images/doctors-banner.jpg");
 min-height: 40vh;
 background-position: center;
 background-size: cover;
}
.doctors-title {
 border-bottom: 3px solid #67c9e0;
 width: fit-content;
}
.doctors-title p {
 color: #f15b5a;
 font-weight: bold;
}
.doctor-card {
 border: none;
 transition: all 400ms;
}
.doctor-card:hover {
 box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.185);
}

.doctor-icon {
 margin-bottom: 1em;
}

.doctor-icon i {
 margin: 0.5em;
 padding: 0.5em;
 background-color: #67c9e0;
 color: white;
 border-radius: 5px;
 cursor: pointer;
}
